@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Regular.ttf) format('truetype');
    width: 400;
}

@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Medium.ttf) format('truetype');
    width: 500;
}

@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik-SemiBold.ttf) format('truetype');
    width: 600;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-SemiBold.ttf) format('truetype');
    width: 600;
}